* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #111317;
  color: #FFF6E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

.NavBar {
  background-color: #FFF6E5;
}

.NavBarList {
  background-color: #FFF6E5;
}

.NavBarContact {
  background-color: #FFF6E5;
}